@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url(./woff2-subset/Pretendard-Black.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url(./woff2-subset/Pretendard-ExtraBold.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-ExtraBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url(./woff2-subset/Pretendard-Bold.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(./woff2-subset/Pretendard-SemiBold.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url(./woff2-subset/Pretendard-Medium.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(./woff2-subset/Pretendard-Regular.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url(./woff2-subset/Pretendard-Light.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-Light.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url(./woff2-subset/Pretendard-ExtraLight.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-ExtraLight.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url(./woff2-subset/Pretendard-Thin.subset.woff2) format('woff2'),
    url(./woff-subset/Pretendard-Thin.subset.woff) format('woff');
}

.prose {
  font-size: 0.875rem; /* 기본 글꼴 크기를 줄임 (14px) */
  line-height: 1.4; /* 줄 간격을 줄임 */
}
.prose h1 {
  font-size: 1.5rem; /* h1의 크기를 줄임 (24px) */
}
.prose h2 {
  font-size: 1.25rem; /* h2의 크기를 줄임 (20px) */
}
.prose p {
  font-size: 0.875rem; /* 본문 텍스트 크기 (14px) */
}
.prose li {
  font-size: 0.875rem; /* 리스트 텍스트 크기 (14px) */
}
